#Sample pip requirements.txt file from: http://mathematism.com/media/static/txt/requirements.txt

# latest version of package on PyPI
python-openid


# package with version specified
Django >= 1.1


# URL, no #egg= required
http://effbot.org/downloads/Imaging-1.1.6.tar.gz


# editable checkouts are installed to ENV/src/distname

# subversion checkouts
-e svn://myproject.org/svn/MyProject/trunk#egg=MyProject
-e svn+http://svn.myproject.org/svn/MyProject/trunk#egg=MyProject
-e svn+https://svn.myproject.org/svn/MyProject/trunk#egg=MyProject

# NOTE: specific revs can only be used with svn+http and svn+https!
-e svn+http://svn.myproject.org/svn/MyProject/trunk@2019#egg=MyProject
-e svn+http://svn.myproject.org/svn/MyProject/trunk@{20080101}#egg=MyProject



# git checkouts
-e git://git.myproject.org/MyProject.git#egg=MyProject
-e git+http://git.myproject.org/MyProject/#egg=MyProject
-e git+ssh://git@myproject.org/MyProject/#egg=MyProject

-e git://git.myproject.org/MyProject.git@master#egg=MyProject
-e git://git.myproject.org/MyProject.git@v1.0#egg=MyProject
-e git://git.myproject.org/MyProject.git@da39a3ee5e6b4b0d3255bfef95601890afd80709#egg=MyProject


# mercurial checkouts
-e hg+http://hg.myproject.org/MyProject/#egg=MyProject
-e hg+ssh://hg@myproject.org/MyProject/#egg=MyProject

-e hg+http://hg.myproject.org/MyProject/@da39a3ee5e6b#egg=MyProject
-e hg+http://hg.myproject.org/MyProject/@2019#egg=MyProject
-e hg+http://hg.myproject.org/MyProject/@v1.0#egg=MyProject
-e hg+http://hg.myproject.org/MyProject/@special_feature#egg=MyProject


# bazaar checkouts
-e bzr+http://bzr.myproject.org/MyProject/trunk/#egg=MyProject
-e bzr+sftp://user@myproject.org/MyProject/trunk/#egg=MyProject
-e bzr+ssh://user@myproject.org/MyProject/trunk/#egg=MyProject

-e bzr+https://bzr.myproject.org/MyProject/trunk/@2019#egg=MyProject
-e bzr+http://bzr.myproject.org/MyProject/trunk/@v1.0#egg=MyProject
